

body{
	font-family: arial, helvetica;
}
#infoRaton{
	width:200px;
	border:thin solid silver;
	padding:.5em;
	float: left;
}
#infoTeclado{
	width:200px;
	border:thin solid silver;
	padding:.5em;
	float: left;
}
/* .cuadro{ */
	/* width:200px; */
	/* border:thin solid silver; */
	/* padding:.5em; */
	/* float: left; */
/* } */

#info h1{
	margin: 0;
}
h1, p{
	text-align: center;
}